.avatarContainer {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background: #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacherImg {
  border-radius: 100px;
  width: 96px;
  height: 96px;
}
