.teacherCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 48px;
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  height: auto;
  background: #fff;
  margin-bottom: 32px;
  padding: 24px;
}

.firstContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 32px; */
}

.nameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 232px; */
  white-space: nowrap;
}

.teacherNameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 10px; */
  /* margin-top: 56px; */
  margin-bottom: 32px;
}

.lessonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}

.avatarContainer {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background: #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacherImg {
  border-radius: 100px;
  width: 96px;
  height: 96px;
}

.languagesText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-right: 192px;
  /* margin-left: 192px; */
}

.teacherName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #121417;
}

.teachersLanguages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.teacherLanguages span {
  color: #8a8a89;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.lessonsContainer span {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.lessonsContainer span:not(:nth-last-child(1)):not(:nth-last-child(2))::after {
  position: absolute;
  content: '';
  right: -16px;
  top: 4px;
  height: 70%;
  width: 1px;
  background-color: rgba(18, 20, 23, 0.2);
}

.price {
  color: #38cd3e !important;
}

.speaksSpan {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417 !important;
}

.lessonInfoSpan,
.conditionsSpan {
  color: #121417 !important;
}

.readMoreBtnContainer {
  margin-top: 16px;
}

.readMoreBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  margin: 0;
  padding: 0;
}

.levelsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  color: #121417;
}

.levelsList li {
  border-radius: 35px;
  padding: 8px 12px;
  border: 1px solid rgba(18, 20, 23, 0.2);
}

/* .levelsList li:first-child {
  background-color: #9fbaae;
  border: none;
} */

.bookBtn {
  margin-top: 32px;
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  background-color: #9fbaae;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
}

.bookBtn:hover {
  background-color: #cbded3;
}

.teacherExperience {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  margin-top: 16px;
  margin-bottom: 32px;
}
