.header {
  padding: 20px 128px;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 268px;
}

.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 390px;
  margin: 0 auto;
}

.learnLingoLogoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.learnLingoLogo {
  width: 28px;
  height: 28px;
}

.learnLingoText {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #121417;
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  text-decoration: none;
}

.active {
  color: #0b44cd;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginBtn,
.registrationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
}

.registrationBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #121417;
  color: #ffffff;
}

.loginTitleContainer,
.registerTitleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.loginTitle,
.registerTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
}

.loginText,
.registerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
}

.loginBtn {
  flex-direction: row;
  gap: 8px;
}
