.titleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.bookingFormTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
}

.titleText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
}

.teacherInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 40px;
}

.teacherPhoto {
  border-radius: 100px;
  width: 44px;
  height: 44px;
}

.teacherText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
}

.firstLine {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
}

.secondLine {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.label {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;
  color: #121417;
}

.reasonsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #121417;
}

.reasonsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

input[type='radio'] {
  border-radius: 10px;
  width: 24px;
  height: 24px;
}

input[type='radio']:checked {
  accent-color: #9fbaae;
}

input[type='radio'] {
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']:checked {
  border-color: #9fbaae;
}

input[type='radio']:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #9fbaae;
  border-radius: 50%;
}

.bookingFormGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  width: 472px;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #121417;
}

.bookBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 16px 215px;
  width: 472px;
  height: 60px;
  background-color: #9fbaae;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  margin-top: 40px;
}

.bookBtn:hover {
  background-color: #cbded3;
}

.error {
  color: red;
}
