.filtersContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 32px;
}

.filterGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.filterGroup label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.select {
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 14px;
  padding: 14px 18px 14px 18px;
  background: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #121417;
}

.dropdownIcon {
  position: absolute;
  top: 14px;
  right: 14px;
  bottom: 14px;
  top: 50%;
  transform: none;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.languageSelect {
  width: 221px;
}

.levelSelect {
  width: 198px;
}

.priceRangeSelect {
  width: 124px;
}
